# Python Temp Files
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# Environment Variables (CRITICAL: Do not commit these!)
.env
.env.*

# Docker Data (If mapped locally)
postgres_data/

# IDE Settings
.vscode/
.idea/